a{
  padding-top: 20px;
  margin: 20px 40px;
  font-family: pier-sans;
  cursor: pointer;
}
.container{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
hr{
  box-shadow: 2px 2px 4px grey;
}
button{
  margin: 1px 10px;
  border: 1px solid white;
}
.nav{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
button:hover{
  box-shadow: inset 0px 0px 5px 1px black;
}
button>a{
  color: white;
  font-size: 1.2em;
}