<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h4>Welcome to GitHub Search</h4>
  <p>Simply input the name you want to search and view the results</p>
  <p>The data is collected from GitHub API.</p>
  <p>User Results are limited to one therefore be as specific as possible.</p>
  <p>A higher number od user results will be available in later versions.</p>
  <p>To leave your feedback, to send us an Email to calemasanga@gmail.com</p>
  <footer>&copy;Copyright Caleb Odinga- 2021 </footer>
</body>

</html>
